/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2020, 06:37:27 PM
    Author     : Estradajdl
*/

hmtl, body{
    
    height: 100%;
   
}

header{
    
     
    display: block;
   /* background: greenyellow;*/
    padding: 10px 0px;
    text-align: center;
   /* background-image: url(img/Texturas_0563.jpg);*/
   background: url("../img/resplandor.png") top left no-repeat;
   

     
}


/*aside{
    clear: both;
    width: 950px;
    margin: 10px 0px;
    height: 340px;
    overflow: hidden;
    background: #ECECEC;
    border: 5px solid #D8D8D8;
}  */

#imagenes{
     clear: both;
    width: 950px;
    margin: 10px 0px;
    height: 340px;
    overflow: hidden;
    background: #ECECEC;
    border: 5px solid #D8D8D8;
    
}

section{
     
    width: 79%;
    /*background: green;*/
    float:left;
   padding-left: 100px;
    overflow: auto;
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
   /* background-image: url(img/Texturas_0563.jpg);*/
   
  }

  @-webkit-keyframes animaSlide{
        from{ 
            left:0px; 
        }
        20%{
            left:0px;
        }
        40%{
            left:0px;
        }
        60%{
            left:-960px;
        }
        80%{
            left:-960px;
        }
        to{
            left:-960px;
        }
    }

#slides{
        width:1920px;
        height:auto;
        overflow: hidden;
        -webkit-animation-name: animaSlide;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out; 
        position:relative;
    }
        #slides img{
            float:left;
        }
  
  
  
  
  
article{
    
}
    .bloques{
        z-index:100; /*pone debajo el articulo para no opacar el menu*/
        float:left;
        position: relative;
        width: auto;
        margin: 0 10px 10px 0;
        text-align: center;
        padding-top: 10px;
        background: url("img/separador.jpg") top center no-repeat;
    }
    
    .bloques p, .bloques h2{
        text-align: left;
    }

    #lista, #lista2{
        text-align: left;
        
    }
    


aside{
    
       width: 18%;
	height: auto; /*350px*/
	padding: 10px 1%;
	float: left;
        /* background-image: url(img/Texturas_0563.jpg);*/
        background: white;
	display: block; 

}
 
	#columna h3 {
		font: bold 100% verdana, tahoma, sans-serif;
		color: #169;
		text-align: center;
		margin: 0;
		padding: 0 10px 5px 15px; }
 
	#columna ul {
                
		list-style: circle;
		padding: 0 0 0 25px;
		margin: 0;
                
        }
        
        #columna li  a {
                 
		color: #169;
		text-decoration: none;
		font-size: 100%; 
                 
        }
 
       
		#columna li a:hover {
                        color: #f60;
			text-decoration: underline; }

 
                
                
                
.col {
	width: 100%;
	background: url(img/medcol.jpg) repeat-y; }
 
.topcol {
	width: 100%;
	height: 20px;
	background: url(img/col.jpg) top left no-repeat; }
 
.botcol {
	width: 100%;
	height: 20px;
	background: url(img/col.jpg) bottom left no-repeat;
	margin-bottom: 5px; }
 
.topcolr {
	width: 100%;
	height: 20px;
	background: url(img/colr.jpg) top right no-repeat; }
 
.botcolr {
	width: 100%;
	height: 20px;
	background: url(img/colr.jpg) bottom right no-repeat; }
 
.colr {
	width: 100%;
	background: url(img/medcolr.jpg) right repeat-y; }


#Menu ul {display:none;}
#Menu { list-style:none;}
#Menu li:hover > ul {display:block;}









/*
aside{
    
    float:right;
    border: 5px solid red;
    width: 19%;
     background-image: url(img/Texturas_0139.jpg);
 background-repeat: repeat;  
}*/


footer{
    position: relative;
    margin-top: 40px;
    height: 100px;
    padding: 5px 0px;
    clear: both;
   /* background: aquamarine;*/
    text-align: center;
     /*background-image: url(img/Texturas_0563.jpg);
 background-repeat: repeat;  */
    
}
